# Libs

In [ ]:
install.packages('FNN')
install.packages('caTools')
install.packages('caret')
install.packages('fastDummies')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(caTools)
library(class)
# library(caret)

# Dados

In [ ]:
data <- read.csv('https://raw.githubusercontent.com/cibelerusso/Datasets/refs/heads/main/DadoseDecisoes.csv')
tail(data)

    ID  Idade Gênero    Departamento Salário  Horas_Trabalhadas Produtividade
225 225 44    Masculino TI           26868.83 41                87.30
226 226 36    Feminino  RH            3711.26 34                81.89
227 227 21    Feminino  Marketing     2536.32 34                85.63
228 228 43    Feminino  Vendas        5717.90 38                86.55
229 229 48    Feminino  Marketing    15638.38 38                85.72
230 230 54    Feminino  Marketing     9422.09 32                73.03
    Satisfação Tempo_Empresa Cursos_Realizados Home_Office
225  68.63     19             9                Sim
226  76.52      9             1                Não
227 100.00      0             0                Não
228  82.46     12            11                Não
229  68.05     14             5                Não
230  82.86      5            14                Não

In [ ]:
encoded <- fastDummies::dummy_cols(data, select_columns = c('Gênero', 'Home_Office'),
                                       remove_first_dummy = TRUE,
                                       remove_selected_columns = TRUE)

In [ ]:
attach(encoded)

The following objects are masked from encoded (pos = 3):

    Cursos_Realizados, Departamento, Gênero_Masculino, Home_Office_Sim,
    Horas_Trabalhadas, ID, Idade, Produtividade, Salário, Satisfação,
    Tempo_Empresa


The following objects are masked from encoded (pos = 4):

    Cursos_Realizados, Departamento, Gênero_Masculino, Home_Office_Sim,
    Horas_Trabalhadas, ID, Idade, Produtividade, Salário, Satisfação,
    Tempo_Empresa


The following objects are masked from data:

    Cursos_Realizados, Departamento, Horas_Trabalhadas, ID, Idade,
    Produtividade, Salário, Satisfação, Tempo_Empresa

In [ ]:
x <- subset(encoded, select = -c(Departamento))
y <- as.numeric(factor(Departamento))

# KNN

In [ ]:
# linha teste (aleatoria)
n <- sample(1:nrow(x), 1)
linha <- x[n, ]

In [ ]:
# modelo
knn_model <- knn(
  train = x[-n, ],
  test = linha,
  cl = y[-n],
  k = 20
)

In [ ]:
print("Célula testada (dados originais):")
print(data[n,])

departamentos <- levels(factor(data$Departamento))
labelout <- as.numeric(as.character(knn_model))
departamento_predito <- departamentos[labelout]

print("Departamento predito:")
print(departamento_predito)

print("Departamento real:")
print(data[n,]$Departamento)

[1] "Célula testada (dados originais):"
   ID Idade    Gênero Departamento Salário Horas_Trabalhadas Produtividade
81 81    32 Masculino           TI 9382.24                37         85.18
   Satisfação Tempo_Empresa Cursos_Realizados Home_Office
81      68.31             5                 0         Não
[1] "Departamento predito:"
[1] "TI"
[1] "Departamento real:"
[1] "TI"